/* パソコン向けレイアウト */
@media (max-width: 1200px) {
   
}

/* タブレット向けレイアウト */
@media (max-width: 1000px) {
   
  }
  
  /* スマホ向けレイアウト */
  @media (max-width:670px) {
    /*共通*/
    .caption{
    font-size: 25px;   
    margin: 30px 0px;   
    }
    /* header */
    .header-right li{
        font-size: 13px;
        float: left;
    }
     /* top */
     .section-top{
        height: 750px;      
        width: 100%; 
    }
    .section-top img{
        width: 200px;  
        padding-top: 300px;
    }
    .section-top p{
        font-size: 10px;    
    }
    /* design */
    .section-design{
        padding:20px 20px; 
        text-align: center;
    }
    .designs{
        max-width: 700px;
        text-align: center;
        margin-bottom:50px;
    }
    /*design-left*/

    .design{
    display: flex;
    flex-direction: column; 
    }
    .design img{
    width: 90%;      
    margin:0px 20px;
    }
    .design-text{
    width: 100%;
    padding-left: 30px; 
    }
    .design-text h3{
    font-size: 30px;
    }
    .detail{
    font-size:15px;
    margin-top: -20px;
    }
    .design-link{
    font-size: 13px;
    margin-top: -20px;
    float: left;
    } 
    .design-type{
    font-size: 15px; 
    }

    /*design-right*/
    .design-right{
    display: flex;
    flex-direction: column; 
    }
    .design-right:nth-child(odd) {
    flex-direction:column;
    }
    .image-right{
    width:90%;   
    box-sizing: border-box;
    float: left;
    margin:0px 20px;
    }
    .design-text-right{
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    float: left;
    margin-right: 30px;
    }
    .design-text-right h3{
    font-size: 30px;
    }

    /* about */
    .section-about{
        padding:20px 20px;
        text-align: center;
    }
    .about-container{
        display: flex;
        flex-direction: column; 
    }
    .about-text{
        width: 100%;
        font-size:12px; 
    }
    .about-text h2{
        font-size:25px;     
        padding-bottom: 10px;   
    }
    .text-adjustment{
        font-size: 15px;     
    }

    .about-wrapper img{
        width: 50%;
        margin:20px 0px 50px 90px;
    }
    .about-all{
        padding: 10px 40px; 
        border-radius: 50px;    
        background-color:white ;
        color: #6c8ba2;
        text-decoration: none;
        font-size:20px; 
    }   
    /* contact */
    .section-contact{
        padding:20px 20px;
        height: 300px;  
        background-position:center;
    }
    .contact-container a{
        padding: 10px 40px; 
        border-radius: 50px;    
        font-size:16px; 
    }
    .contact-container p{
        margin-bottom: 30px; 
    }
    /*footer*/
    .footer-wrapper{
        padding:20px 20px;
        height: 40px
    }
    /*//about.html//*/
    .aboutall-tops{
        padding:20px 20px;
        text-align: center;
    } 
    .aboutall-top{
        max-width: 700px;
    }
    .top-about{
        display: flex;
        flex-direction:column;
    }   
    .aboutimage{
        width: 50%;
        margin:40px 0px 0px 0px;
    }
    .about-text{
        padding:5px;  
        width:100%; 
        box-sizing: border-box;
        text-align: left;
        color: rgb(73, 74, 80);
    }
    .about-text h3{
        font-size:30px;
    }
    .about-text h4{
        font-size: 8px; 
    }
    .about-text p{
        font-size: 15px;
    }
    .about-infos{
        padding:20px 20px;  
        text-align: center;
    }
    /*about skill*/
    .design-caption{
        font-size: 25px;    
        margin: -10px 0px; 
    }
    .about-skills{
        max-width: 700px;
    }
    .about-skill{
        display: flex;
        flex-direction:column;
    }   
    .about-skill img{
        width: 100%;
        padding: 10px;
    }
    .about-skill p{
        width: 100%;
        color: rgb(73, 74, 80);
        text-align: left;
        padding-top: 5px;
        font-size: 12px;
    }
    .about-writing{
        padding:10px 10px;
        text-align: center;
    }
    table td:first-child {
        font-size: 14px;
    }
    table td:last-child {
      font-size: 14px;
    }
    /*//book.html//*/
    .weball-tops{
        padding:60px 20px;
    } 
    .weball-top{
        max-width: 700px;
        margin-bottom:50px;
    }
    .top-info{
        display: flex;
        flex-direction:column;
    }
    .top-info img{
        width: 100%;
        border-radius: 10px;
        margin: 0 20px;
    }
    .web-text{
        width: 100%;
        text-align: left;
    }
    .web-text h3{
        font-size:30px;
    }
    .web-text p{
        font-size: 13px;
        text-align: left;
    }
    .weball-info{
        margin-top: -40px;  
        text-align: left;
    }
    .weball-caption{
        font-size: 13px;
    }
    .weball-site{
        margin-top: -20px;
        float: left;
    }
    /*middle*/
    .middle-images{
        max-width: 700px;
        margin-bottom:30px;
        padding:0px 20px 00px 20px;  
        text-align: center;
    }
    .middle-image{
        justify-content: space-around;
    }
    .middle-image img{
        width: 31%; 
        box-shadow: 0 4px 15px 0 #adc5d8;
        border-radius: 10px;
    }
    .middle-writing{
        max-width: 700px;
        padding:0px 20px ;
        text-align: center;
    }
    /*last*/
    .weball-last{
        max-width: 700px;
        margin-bottom: 250px; 
        margin-top: -30px; 
        padding:0px 20px;  
        text-align: center;
    }
    .last-images{
        max-width: 700px;
    }
    /*//designall.html//*/
    .website-all-container{
        padding:20px 20px;
    }
    .website-area{
        display: flex;
        flex-direction:column;
    }
    .websits{
        box-sizing: border-box;
        margin-bottom: 20px;    
    }
    .website img{
        width: 95%; 
    }
    
    .ma-all-container{
        padding:20px 20px;
    }
    .ma-area{
        display: flex;
        flex-wrap: wrap;
    }
    .mas{
        box-sizing: border-box;
        width: 50%; 
    }
    .ma img{
        width: 90%;
    }
    
    .logo-all-container{
        padding:20px 20px;
    }
    .logo-area{
        display: flex;
        flex-wrap: wrap;
    }
    .logos{
        box-sizing: border-box;
        width: 50%; 
    }
    .logo img{
        width: 90%;
    }
    .section-title{
        font-size: 20px;     
        color: #6c8ba2;
        text-align: left;
        font-style: bold;
        padding: 10px 0;
    }
    .website-all-title{
        padding:50px 20px;
    }
    .section-title-top{
        font-size: 20px; 
        color: #6c8ba2;
        text-align: left;
        font-style: bold;
        padding-top: 50px;  
    }
    .design-name{   
        font-size: 14px;    
        color:rgb(73, 74, 80);
        text-align: left;
        padding-left:10px;
    }
    .design-tool{
        color: rgb(149, 149, 149); 
        text-align: left;
        padding-left:10px;
        padding-bottom: 13px;
    }
    .design-info{
        color: rgb(149, 149, 149); 
        text-align: left;
        padding: 20px 10px;
    }
    
    /*共通*/
    .design-caption{
        font-size: 30px;   
        padding: 30px 20px;
        color: #6c8ba2;
        text-align: left;
        font-style: bold;
    }
    .bold{
        font-size: 28px;
    }
    .design-color{
        color: rgb(255, 120, 58);
    }
/*sweiper-toleft*/
.about-slide{
    font-size: 14px;
}
.loop-slide img{
    width: 100%;
    margin: 10px 10px;     
}
.loop-slide > div > * {
    min-width: calc(150% / 6);
} 
/*sweiper-toright*/

.loop-slide-reverse img{
    width: 100%;
    margin: 10px 10px;   
}
.loop-slide-reverse > div > * {
    min-width: calc(150% / 6);
} 
    
}
